@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Khula', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #16d9e3;
}

.start {
  font-size: 1.5rem;
  text-shadow:0 0 1em rgb(251, 249, 249);
}

h1 {
  line-height: 1.4;
  font-size: 4rem;
  text-shadow:0 0 1em rgb(251, 249, 249);
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background-image: url(https://images.unsplash.com/photo-1516564870259-ab79dc1a320a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2334&q=80);
  background-size: cover;
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  background-color: transparent;
  border: 2px solid #c0c0c0;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: 0.1rem 0.6rem;
  font-size: 1.1rem;
  border-radius: 10px;
}

.time-btn:hover {
  border: 2px solid #edd484;
  color: #06ff488a;
}

.hide {
  opacity: 0;
}

.primary {
  color: #f60b0b;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  height: 300px;
  background-image: url(https://images.unsplash.com/photo-1516564870259-ab79dc1a320a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2334&q=80);
  box-shadow: -2px -2px 40px #a5b4c5, 1px 1px 40px #a5b4c5;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
}

.circle {
  background: linear-gradient(90deg, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}
